<!DOCTYPE html>
<html>
<head>
   <% include ./partials/head %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <!-- <img src="/img/lolcreep3.png"> -->
        <h2>find that guy's real name</h2>
      </div>
    </div>
<!--     <div class="row col">
      <img src="/img/lolcreep3.png">
    </div> -->
    <form method="post">
      <div class="row">

        <div class="col-sm-4">
          <div class="input-group">
          <input type="text" class="form-control" id="sum_name" name="sum_name" placeholder="summoner name">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit"><!-- <img src="/img/search.png"> -->search</button>
          </span>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="region" id="region_na" value="na" checked=""> NA
            </label>
          </div>
          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="region" id="region_eu" value="eu"> EU
            </label>
          </div>
        </div>
      </div>

    </form>
  </div>
</body>
</html>