<!DOCTYPE html>
<html>
<head>
  <title>lolstalk</title>
</head>
<body>
  <h1>welcome to <%= title %></h1>
  <link href="stylesheets/style.css" rel="stylesheet">
  <!-- <script src="js/jquery.js"></script> -->
</body>
</html>