<!DOCTYPE html>
<html>
<head>
   <% include ./partials/head %>
</head>
<body>
  <div class="container">

    <div class="row">
      <div class="col">
        <h2>find that guy's real name</h2>
      </div>
    </div>

    <form method="post">
      <div class="row">
        <div class="col-sm-4">
          <div class="input-group">
          <input type="text" class="form-control" id="sum_name" name="sum_name" placeholder="summoner name">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">search</button>
          </span>
          </div>
        </div>

      </div>

      <div class="row col">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="region" id="region_na" value="na" checked=""> NA
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="region" id="region_eu" value="eu"> EU
          </label>
        </div>

      </div>

    </form>


    <div class="row">
      <% for (team in data) { %>
        <div class="col-sm-6">
          <table class="table">
            <thead>
              <tr>
                <th>summoner name</th>
                <th>possible real name</th>
              </tr>
            </thead>
            <tbody>
              <% for (x in data[team]) { %>
                <tr>
                  <th><%= x %></th>
                  <th><%= data[team][x] %></th>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>