body {
    padding-top: 150px;
    font: 14px "Poppins", Helvetica, Arial, sans-serif;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 50px;
    }
  }

a {
  color: #00B7FF;
}

.champportrait {
	width: 28px;
	height: 28px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}